<%- model_class = Question -%>
<spam class="">
  <small><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></small>
</span>
<%= render :partial => 'form' %>
